* {
    font-size: .95rem 
}

body > * {
    font-family: 'Roboto', serif;
    font-weight: 300;
}

.nav-item {
    font-size: larger;
}

.aboutText > p {
    font-family: 'Space Mono', monospace;
}
.projectAbout {
    font-family: "Space Mono", monospace;
}
.homeWrapper {
    padding-top: 16.8%;
    padding-bottom: 16.8%;
    
}

.headshot {
    border-radius: 400px;
    height: auto;
}

svg {
    height: 64px;
    width:auto;
    max-width: 64px;
    fill: rgb(135,149,118);
}

.icons > * > p{
    font-size: 1.25rem;
    font-weight: 300;
}


.nodeIcon {
    font-family: "Roboto";
}
.icons {
    /* min-width: 350px;
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center */
}
#title {
    font-size: 6rem;
}

.projectContainer {
    border-radius: 40px;
    /* display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-right: 5%; */
    padding: 30px 5% 30px 30px; 
    background-color: whitesmoke;
}
