* {
    font-size: .85rem 
}

body > * {
    font-family: 'Roboto', serif;
    font-weight: 300;
}

p {
    font-size: 1rem;
}

.nav-item {
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: bolder;
}

.aboutText > p {
    font-family: 'Space Mono', monospace;
}
.projectAbout {
    font-family: "Space Mono", monospace;
}
.homeWrapper {
    padding-top: 16.8%;
    padding-bottom: 16.8%;
    
}
#subtitle span{
    font-size: 24px; 
    letter-spacing: 1px;
    color: #0563bb;
}
#subtitle {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.headshot {
    border-radius: 50%;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
}

svg {
    height: 80px;
    width:auto;
    max-width: 80px;
    fill: #869575;
}

.icons > * > p{
    font-size: 1.25rem;
    font-weight: 300;
}


.nodeIcon {
    font-family: "Roboto";
}
.icons {
    /* min-width: 350px;
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center */
}
#title {
    font-size: 5rem;
}

.projectContainer {
    border-radius: 40px;
    /* display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-right: 5%; */
    padding: 30px 5% 30px 30px; 
    background-color: whitesmoke;
}

.contact-icon {
    fill: grey;
    max-width: 32px;
}

@media (max-width: 540px ) {
    #title {
    font-size: 3rem;
    }
    

}

.grow { transition: all .4s ease; }
.grow:hover { transform: scale(1.2); z-index: 1; }

.projectGrow { transition: all .5s ease; }
.projectGrow:hover { transform: scale(1.05); z-index: 1; }

.iconGrow { transition: all .5s ease; }
.iconGrow:hover { transform: scale(1.1); z-index: 1; }